@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  background-color: darkgray;
  border-radius: 13px;
  padding: 5px 10px;
  margin: 2px;
}
.projectContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Project {
  background-color: gray;
  width: calc(50% - 20px);
  margin: 10px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 23px;
}
.userList {
  position: absolute;
  top: 0;
  right: 0;
}
.navBar{
  color: gray;
}
.navBar:hover{
  color: aqua;
  cursor: pointer;
}
.addBtn{
  width: 200px;
  border-radius: 23px;
  font-size: 60px;
}
.backBtn{
  position: absolute;
  left: 5em;
  width: 100px;
  font-size: 30px;
}
.btnContainer{
  text-align: center;
}

.taskCard {
  border: 1px solid #443b3b;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #5a4545;
  margin: 10px;
}

.taskCard h3 {
  margin-top: 0;
}

.taskCard p {
  margin: 5px 0;
}

.taskCard button {
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.taskCard button:hover {
  background-color: #45a049;
}

.exitStory {
  margin-bottom: 20px;
}
.taskList{
  display: flex;
  flex-wrap: wrap;
}