@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-white text-black;
}

html.dark {
  @apply bg-gray-900 text-white;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  background-color: darkgoldenrod;
  border-radius: 13px;
  padding: 5px 10px;
  margin: 2px;
}
.projectContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Project {
  background-color: gray;
  width: calc(50% - 20px);
  margin: 10px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 23px;
}
